@font-face {
    font-family: 'Rajdhani';
    src: url('../fonts/ABeeZee-Regular.woff');
}

body {
    font-family: 'Rajdhani' !important;
    font-size: 18px;
    background: #fff !important;
    @media only screen and (max-width: 991px) {
        font-size: 12px !important;
        .btn {
            font-size: 12px !important;
        }
    }

    p {
        margin: 0;
    }

    .preloader {
        display: none !important;
    }
}

.wfull {
    width: 100%;
}

/*------------------------- CSS @media ---------------------------*/
@media only screen and (min-width: 768px) {
    .max-xs {
        display: none;
    }

    .min-xs {
        display: block;
    }
}

@media only screen and (min-width: 992px) {
    .min-sm {
        display: block;
    }

    .max-sm {
        display: none;
    }
}

/*-------- max --------*/
@media only screen and (max-width: 767px) {
    .max-xs {
        display: block;
    }

    .min-xs {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .min-sm {
        display: none;
    }

    .max-sm {
        display: block;
    }
}

/*------------------------- // CSS @media  ---------------------------*/

.content-top {
    padding-top: 70px !important;
}

.bg-gray {
    background: #F3F3F4;
}

.container-fluid-default {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @media only screen and (min-width: 1200px) {
        max-width: 90%;
    }
}

.btn {
    padding: 2px 12px !important;
    border-radius: 18px !important;
}

.sidebar-nav ul li ul li.active a {
    color: rgb(240, 146, 40);
}


#loadding_page {
    position: fixed;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    z-index: 99;
    top: 0;

    .logos {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        img {
            width: 250px;
            max-width: 300px;
            -webkit-animation: scale 1s linear infinite;
            -moz-animation: scale 1s linear infinite;
            -ms-animation: scale 1s linear infinite;
            -o-animation: scale 1s linear infinite;
        }
    }
}

@keyframes scale {
    50% {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }
}

.navbar-header {
    .navbar-brand {
        img {
            width: 125px;
            padding: 10px;
            padding-bottom: 0;

            @media only screen and (max-width: 767px) {
                width: 75px;
            }
        }
    }
}

aside.left-sidebar {
    .sidebar-nav>ul>li.active {
        ul {
            background: rgb(187, 104, 10);

            li a {
                color: rgb(255, 255, 255);
            }
        }
    }
}

.dropdown-item.active,
.dropdown-item:active {
    color: rgb(255, 255, 255) !important;
    background-color: rgb(240, 146, 40) !important;
}

.text_dotdot {
    height: 50px;

    @media only screen and (max-width: 767px) {
        height: 40px;
    }

    .excerpt {
        height: 100%;
    }
}

span {
    &.error {
        color: rgb(255, 0, 0);
    }
}

select.form-control {
    font-size: 13px;
}

.owl-nav {
    .owl-next {
        position: absolute;
        right: 0;
        top: 45%;
        background: rgba(0, 0, 0, 0) !important;
    }
    .owl-prev {
        position: absolute;
        left: 0;
        top: 45%;
        background: rgba(0, 0, 0, 0) !important;
    }
    img {
        width: 55px !important;
    }
}