.listdata {

    .item-category {
        margin-bottom: 18px;

        .sub {
            display: inline-block;
            background: #fff;
            color: rgb(240, 146, 40);
            border: 1px solid rgb(240, 146, 40);
            width: auto;
            padding: 5px 8px;
            border-radius: 50px;
            margin-bottom: 5px;
            font-size: 15px;
            margin-right: 5px;

            @media only screen and (max-width: 767px) {
                font-size: 12px;
                text-align: center;
            }

            &.active {
                background: rgb(240, 146, 40);
                color: rgb(255, 255, 255);

            }
        }

        .select {
            display: inline-block;
        }
    }

    .item-image {
        padding: 15px;
        background: #F3F3F4;
        text-align: center;
        border-radius: 10px;

        &.flex {
            display: flex;
        }

        &.boder {
            padding: 0px;
            border-radius: 22px;
            overflow: hidden;

            &:hover {
                padding: 0px;
                border-radius: 22px;
                overflow: hidden;
                box-shadow: 0px 0px 15px #c3c3c3;
            }

            .img {
                height: 160px;
                width: 100%;
                object-fit: cover;
            }
        }

        .img {
            height: 110px;
            width: auto;
            max-width: 100%;
            object-fit: contain;
            padding: 15px 0;
        }

        .text {
            text-align: center;
            min-height: 30px;
            margin: auto;
        }
    }

}

table {
    border-collapse: separate !important;
    border-spacing: 0 18px !important;

    .head {
        color: rgb(240, 146, 40);
    }

    thead {
        color: rgb(240, 146, 40);

        th {
            padding: 0px;
        }
    }

    tbody {
        tr {
            box-shadow: 0px 0px 10px #d4d4d4;
            border-top-left-radius: 18px;
            border-bottom-left-radius: 18px;
            border-top-right-radius: 18px;
            border-bottom-right-radius: 18px;

            td {
                position: relative;
                padding: 0 !important;
                background: rgb(243, 243, 244);

                &:first-child {
                    border-top-left-radius: 18px;
                    border-bottom-left-radius: 18px;
                }

                &:last-child {
                    border-top-right-radius: 18px;
                    border-bottom-right-radius: 18px;
                }

                .tr-col {
                    padding: 15px;

                    .img {
                        height: 50px;
                        width: 100px;
                        object-fit: contain;
                    }

                }

                span.me {
                    opacity: 0;
                    color: rgb(240, 146, 40);
                    font-size: 10px;
                    position: absolute;
                    top: 0px;
                    left: 0px;

                    &.active {
                        opacity: 1;
                    }
                }
            }
        }
    }
}