.list-news {
    .item-image {
        display: flex;
        background: #F3F3F4;
        border-radius: 20px;

        .left {
            width: 40%;

            img {
                width: 100%;
                height: 170px;
                object-fit: cover;
                border-radius: 20px;
            }
        }

        .right {
            font-size: 15px;
            padding: 15px;
            width: 60%;

            .hed {
                color: rgb(240, 146, 40);
            }

            .text {
                font-size: 12px;
            }

            .read {
                display: flex;
                margin-top: 10px;

                .w {
                    width: 50%;

                    span {
                        font-size: 11px;
                    }
                }
            }
        }
    }
}

.detail-news {
    img {
        border-radius: 20px;
    }

    .detail {
        .hed {
            color: #F09228;
        }

        border-radius: 20px;
        background: #F3F3F4;
        padding: 15px;
    }
}