.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.container-full {
  margin: 0;
  margin-left: 0;
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  background: #FFF;
  padding-top: 10px !important;
  z-index: 9999;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.container-full div.row {
  margin-left: 0px;
  margin-right: 0px;
}

@media (max-width: 960px) {
  .container-full div.row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.container-before-resize {
  position: absolute;
  background: #FFF;
}

.gc-full-width {
  opacity: 0.5;
  border: 1px solid transparent;
  padding: 0px 5px;
}

.gc-full-width:hover {
  opacity: 1;
  cursor: pointer;
  border: 1px solid #999;
  background: #CCC;
}

.table-label {
	background: rgb(6, 127, 255) !important;
    width: 100%;
    padding: 10px !important;
    text-align: left;
    color: #fff !important;
}

.minimize-maximize-container {
  border: 1px solid #adadad;
  padding: 0px 5px;
  cursor: pointer;
}

.no-border-left {
  border-left: none !important;
}

.no-border-right {
  border-right: none !important;
}

.modal {
  z-index: 9999 !important;
}
